<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="QuickSolverPdfPath" value="\\plm-control.plm_net.palumbermens.com\Submissions\" />
    <!--<add key="QuickSolverPdfPath" value="D:\QSDec_cache\submissions\" />-->
    <add key="PassFailFilePath" value="\\plm-control.plm_net.palumbermens.com\Transfers\SPL\IS\passfail.txt" />
    <!--<add key="PassFailFilePath" value="D:\QSDec_cache\passfail.txt" />/>-->
    <add key="PdfSplittingPath" value="\\10.3.2.21\CallFromVb\pdf_splitting\" />

    <add key="PdfSplittingPathBackup" value="\\10.3.2.21\CallFromVb\pdf_splitting\backup\" />
    <!-- D:\QSDec_cache\PDF_Splitting\ -->
    <add key="PrintServerDecPrintsPath" value="D:\QSDec_cache\DecPrints\" />
    <!-- \\plm-printserver.plm_net.palumbermens.com\DecPrints\in\-->
    <add key="ImageRightFormsTextImportPath" value="\\nj-irutility.plmilm.com\Imagewrt\imports\Forms-Text Import\" /> 
    <!-- <add key="ImageRightFormsTextImportPath" value="D:\QSDec_cache\imageright\" /> -->

    </appSettings>
  <connectionStrings>
    <add name="AREntities" connectionString="metadata=res://*/Models.AR.csdl|res://*/Models.AR.ssdl|res://*/Models.AR.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.3.2.21;initial catalog=AR;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- <add name="AREntities" connectionString="metadata=res://*/Models.AR.csdl|res://*/Models.AR.ssdl|res://*/Models.AR.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.94.34;initial catalog=AR;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
