<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="console" />
      <appender-ref ref="file" />
    </root>
    
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    
    <appender name="file" type="log4net.Appender.RollingFileAppender">
      <file value="myapp.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="pkim@plmins.com" />
      <from value="pkim@plmins.com" />
      <subject value="QSDec Execution Error" />
      <smtpHost value="plmins.mail.protection.outlook.com" />
      <port value="25" />
      <username value="smtp2@plmilm.com" />
      <password value="Palm1895" />
      <bufferSize value="512" />
      <lossy value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="WARN"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
      </layout>
    </appender>

    <logger name="EmailLogger">
      <level value="Error" />
      <appender-ref ref="SmtpAppender" />
    </logger>
    
  </log4net>
  
</configuration>